@if (usuarioService.usuarioLista.length === 0) {
    <p class="msg--no-items">Não há dados a serem exibidos!</p>
}
@else {
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Email</th>
                <th>Data Nasc.</th>
                <th>Escolaridade</th>
            </tr>
        </thead>

        <tbody>
            @for (usuario of usuarioService.usuarioLista; track usuario.id) {
                <tr>
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.sobrenome}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.getDataNascFormatada()}}</td>
                    <td>{{usuario.getEscolaridadeFormatada()}}</td>
                </tr>
            }
        </tbody>
    </table>
}